@*********** ACCESSORIES ***********@
<div class="card-divider ml-3">
    <div class="m-3 ml-4 mr-4">
        <blockquote class="card-blockquote">
            <h3 class="divider-title">ACCESSORIES</h3>
        </blockquote>
        <blockquote class="card-blockquote">
            <p>
                Accessories can make your team stronger in battle or give you an easier time attracting a wild pet.
            </p>
        </blockquote>
    </div>
</div>
<div class="row ml-1">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="1" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/LeatherBracerSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase BP + 5
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00500 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="2" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/MetalBracersSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase BP + 15
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01500 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="3" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/ScholarsScrollSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase EXP + 20
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00900 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="4" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/CosmicScrollSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase EXP + 40
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01800 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="5" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/4LeafCloverSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Luck + 5
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.04000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="6" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/7LeafCloverSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Luck + 10
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.08000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="7" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/RedCollarSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increaes Pet Red Aura + 6
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.03000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="8" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/RubyCollarSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Red Aura + 12
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.06000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="9" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/YellowCollarSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Yellow Aura + 6
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.03000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="10" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/CitrineCollarSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Yellow Aura + 12
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.06000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="11" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/BlueCollarSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Blue Aura + 6
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.03000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="12" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/SapphireCollarSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase Pet Blue Aura + 12
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.06000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="13" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/CarrotsSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase chance of fighting Horse Line
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.10000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="14" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/CricketSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase chance of fighting Lizard Line
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.10000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="15" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/BirdSeedSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase chance of fighting Avian Line
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.10000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="16" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/CatNipSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase chance of fighting Feline Line
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.10000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row" style="margin-bottom: 150px;">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="17" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/LightningRodSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase chance of fighting Elemental
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.25000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="acc" asp-route-seriesid="18" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Accessories/HolyLightSimple.png" />
                <div class="card-block-accessories">
                    <div class="card-text">
                        Increase VS battle power against fallen angels
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.30000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>