@*********** ANGELS ***********@
<div class="row ml-1">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card" data-cardtype="angel" data-seriesid="0">
            <a asp-controller="getcard" asp-route-type="angel" asp-route-seriesid="0" class="no-underline">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/BarakielCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/BlueGem.svg" class="profile-avatar lazy" alt="Blue Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>COMMON</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>50 to 60</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card" data-cardtype="angel" data-seriesid="1">
            <a asp-controller="getcard" asp-route-type="angel" asp-route-seriesid="1" class="no-underline">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/ZadkielCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/YellowGem.svg" class="profile-avatar lazy" alt="Yellow Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>120 to 130</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.03000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card" data-cardtype="angel" data-seriesid="2">
            <a asp-controller="getcard" asp-route-type="angel" asp-route-seriesid="2" class="no-underline">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/LuciferCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/PurpleGem.svg" class="profile-avatar lazy" alt="Purple Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>LIMITED EDITION</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>250 to 260</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.66600 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="getcard" asp-route-type="angel" asp-route-seriesid="3" class="no-underline">
            <div class="card" data-cardtype="angel" data-seriesid="3">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/MichaelCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/OrangeGem.svg" class="profile-avatar lazy" alt="Orange Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>LIMITED EDITION</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>300 to 310</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.80000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- Second Row Angels -->
<div class="row ml-1">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card overlay-div" data-cardtype="angel" data-seriesid="4">
            <a asp-controller="getcard" asp-route-type="angel" asp-route-seriesid="4" class="no-underline">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" style="opacity: 0.7" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/ArelCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/RedGem.svg" class="profile-avatar lazy" alt="Red Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>100 to 110</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00300 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card overlay-div" data-cardtype="angel" data-seriesid="5">
            <a asp-controller="getcard" asp-route-type="angel" asp-route-seriesid="5" class="no-underline">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" style="opacity: 0.7" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/RaguelCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/YellowGem.svg" class="profile-avatar lazy" alt="Yellow Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>110 to 120</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00500 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card overlay-div">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="6">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" style="opacity: 0.7" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/LilithCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/PurpleGem.svg" class="profile-avatar lazy" alt="Purple Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>120 to 130</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="7">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/FurlacCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/GreenGem.svg" class="profile-avatar lazy" alt="Green Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>130 to 140</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01250 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Third Row Angels -->
<div class="row ml-1 mb-5">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card overlay-div">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="8">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/AzazelCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/OrangeGem.svg" class="profile-avatar lazy" alt="Orange Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>140 to 150</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00800 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card overlay-div">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="9">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/ElelethCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/BlueGem.svg" class="profile-avatar lazy" alt="Blue Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>150 to 160</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00900 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card overlay-div">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="10">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/VerinCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/RedGem.svg" class="profile-avatar lazy" alt="Red Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>160 to 170</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00700 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="11">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/ZiwaCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/YellowGem.svg" class="profile-avatar lazy" alt="Yellow Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>170 to 180</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Forth Row Angels -->

<div class="row ml-1 mb-5">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="12">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/CimerielCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/PurpleGem.svg" class="profile-avatar lazy" alt="Purple Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>180 to 190</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01200 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="13">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/NuminelCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/GreenGem.svg" class="profile-avatar lazy" alt="Green Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>190 to 200</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01400 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="14">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/BatGolCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/OrangeGem.svg" class="profile-avatar lazy" alt="Orange Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>200 to 210</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.02000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="15">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/GabrielCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/BlueGem.svg" class="profile-avatar lazy" alt="Blue Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>210 to 220</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.02500 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Fifth Row Angels -->

<div class="row ml-1 mb-5">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="16">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/MetatronCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/RedGem.svg" class="profile-avatar lazy" alt="Red Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>220 to 230</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.02650 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="17">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/RafaelCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/YellowGem.svg" class="profile-avatar lazy" alt="Yellow Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>230 to 240</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.01500 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="18">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/MelchezidekCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/PurpleGem.svg" class="profile-avatar lazy" alt="Purple Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>240 to 250</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.02000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="19">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/SemyazaCardSimple.png" />
                <div class="card-block">
                    <figure class="profile">
                        <img src="images/Site/blank.gif" data-src="images/Gems/GreenGem.svg" class="profile-avatar lazy" alt="Green Aura" />
                    </figure>
                    <div class="card-text card-rarity p-sm-1">
                        <b>ULTRA RARE</b>
                    </div>
                    <div class="card-text">
                        <p class="mt-2">Battle Power<br /> <b>250 to 260</b></p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.02200 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Sixth Row Angels -->
<div class="row ml-1 mb-5">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="20">
                    <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/AbaddonCardSimple.png" />
                    <div class="card-block">
                        <figure class="profile">
                            <img src="images/Site/blank.gif" data-src="images/Gems/OrangeGem.svg" class="profile-avatar lazy" alt="Orange Aura" />
                        </figure>
                        <div class="card-text card-rarity p-sm-1">
                            <b>ULTRA RARE</b>
                        </div>
                        <div class="card-text">
                            <p class="mt-2">Battle Power<br /> <b>260 to 270</b></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control text-bold" placeholder="0.03000 ETH" aria-describedby="basic-addon2" readonly>
                            <div class="input-group-append">
                                <button class="btn text-bold btn-danger" type="button">Buy</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="21">
                    <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/BaalzebubCardSimple.png" />
                    <div class="card-block">
                        <figure class="profile">
                            <img src="images/Site/blank.gif" data-src="images/Gems/BlueGem.svg" class="profile-avatar lazy" alt="Blue Aura" />
                        </figure>
                        <div class="card-text card-rarity p-sm-1">
                            <b>ULTRA RARE</b>
                        </div>
                        <div class="card-text">
                            <p class="mt-2">Battle Power<br /> <b>270 to 280</b></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control text-bold" placeholder="0.03500 ETH" aria-describedby="basic-addon2" readonly>
                            <div class="input-group-append">
                                <button class="btn text-bold btn-danger" type="button">Buy</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="22">
                    <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/BenNezCardSimple.png" />
                    <div class="card-block">
                        <figure class="profile">
                            <img src="images/Site/blank.gif" data-src="images/Gems/RedGem.svg" class="profile-avatar lazy" alt="Red Aura" />
                        </figure>
                        <div class="card-text card-rarity p-sm-1">
                            <b>ULTRA RARE</b>
                        </div>
                        <div class="card-text">
                            <p class="mt-2">Battle Power<br /> <b>280 to 290</b></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control text-bold" placeholder="0.04000 ETH" aria-describedby="basic-addon2" readonly>
                            <div class="input-group-append">
                                <button class="btn text-bold btn-danger" type="button">Buy</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <a asp-controller="GetCard" asp-route-type="angel" asp-route-seriesid="23">
                    <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Angels/JophielCardSimple.png" />
                    <div class="card-block">
                        <figure class="profile">
                            <img src="images/Site/blank.gif" data-src="images/Gems/GreenGem.svg" class="profile-avatar lazy" alt="Green Aura" />
                        </figure>
                        <div class="card-text card-rarity p-sm-1">
                            <b>ULTRA RARE</b>
                        </div>
                        <div class="card-text">
                            <p class="mt-2">Battle Power<br /> <b>290 to 300</b></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control text-bold" placeholder="0.04500 ETH" aria-describedby="basic-addon2" readonly>
                            <div class="input-group-append">
                                <button class="btn text-bold btn-danger" type="button">Buy</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</div>
