<div id="loader" class="container-fluid mt-5" style="display:none; overflow: no-display !important; z-index: 100;">
    <div class="text-center" style="overflow:no-display !important;">
        <img src="~/images/Site/LoadingLine.gif" style="overflow:no-display !important;" />
    </div>
</div>