<div class="modal fade" id="modalWrongNetwork" tabindex="-1" role="dialog" aria-labelledby="modalLabelWrongNetwork" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modalLabelWrongNetwork">MetaMask is on the wrong network</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Switch to the "Main Ethereum Network" on your MetaMask chrome extension to continue.</p>
                <br />
                <img src="~/images/Site/metamaskNetwork.png" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInstallMetaMask" tabindex="-1" role="dialog" aria-labelledby="modalInstallMetaMask" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modalLabelWrongNetwork">Need to install MetaMask</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>You'll need a safe place to store all of your Angels, Pets, and Accessories. This can be done with the MetaMask wallet.</p>
                <p class="text-secondary">Angel Battles only works on Google Chrome with the MetaMask extension, Mist Browser, Brave Browser or the Cipher Browser.</p>
                <p class="text-secondary">Install the MetaMask extension, then refresh the page to continue.</p>
                <hr />
                <button id="installMetaMask" type="button" class="btn btn-danger">Install MetaMask</button>
                <button id="learnMore" type="button" class="btn btn-primary ml-2">Learn more about Angel Battles</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMetaMaskNotLoggedIn" tabindex="-1" role="dialog" aria-labelledby="modalMetaMaskNotLoggedIn" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modalLabelNotLoggedIn">Log into MetaMask</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>You are currently not logged into MetaMask your MetaMask chrome extension. Please login and select the "Main Ethereum Network" to continue.</p>
                <br />
                <img src="~/images/Site/metamaskNotLoggedIn.png" />
            </div>
        </div>
    </div>
</div>
