<div class="modal fade" id="modalDiscord" tabindex="-1" role="dialog" aria-labelledby="modalDiscord" aria-hidden="true">
    <div class="modal-dialog text-center button-events" role="document">
        <iframe src="https://discordapp.com/widget?id=414426923343806466&theme=dark" class="mb-5" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>
