@*********** PETS ***********@
<div class="card-divider ml-3">
    <div class="m-3 ml-4 mr-4">
        <blockquote class="card-blockquote">
            <h3 class="divider-title">PETS</h3>
        </blockquote>
        <blockquote class="card-blockquote">
            <p>
                Pets have Luck (set on creation) and Aura Power (gained by Training).
                Usage of these pets along with your angel will help increase your battle strength.
            </p>
        </blockquote>
    </div>
</div>
<div class="row mb-5 ml-1">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="pet" asp-route-seriesid="1" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Pets/GeckoCardSimple.png" />
                <div class="card-block-pets">
                    <div class="card-text card-rarity p-sm-1">
                        <b>COMMON</b>
                    </div>
                    <div class="card-text">
                        Domestic.
                    </div>
                    <div class="card-text">
                        Unbreedable.
                    </div>
                    <div class="card-text">
                        Reptilian Line.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="pet" asp-route-seriesid="2" class="no-underline">
            <div class="card overlay-div">
                <img src="~/images/Realm/SoldOut.svg" class="corner-image" style="opacity: 0.7" />
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Pets/ParakeetCardSimple.png" />
                <div class="card-block-pets">
                    <div class="card-text card-rarity p-sm-1">
                        <b>SCARCE</b>
                    </div>
                    <div class="card-text">
                        Domestic.
                    </div>
                    <div class="card-text">
                        Unbreedable.
                    </div>
                    <div class="card-text">
                        Avian Line.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Sold Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="pet" asp-route-seriesid="3" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Pets/AngryKittyCardSimple.png" />
                <div class="card-block-pets">
                    <div class="card-text card-rarity p-sm-1">
                        <b>SCARCE</b>
                    </div>
                    <div class="card-text">
                        Domestic.
                    </div>
                    <div class="card-text">
                        Unbreedable.
                    </div>
                    <div class="card-text">
                        Feline Line.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <a asp-controller="GetCard" asp-route-type="pet" asp-route-seriesid="4" class="no-underline">
            <div class="card">
                <img class="card-img-top lazy" style="min-height: 333.656px;" src="images/Site/blank.gif" data-src="images/Pets/HorseCardSimple.png" />
                <div class="card-block-pets">
                    <div class="card-text card-rarity p-sm-1">
                        <b>SCARCE</b>
                    </div>
                    <div class="card-text">
                        Domestic.
                    </div>
                    <div class="card-text">
                        Unbreedable.
                    </div>
                    <div class="card-text">
                        Equine Line.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control text-bold" placeholder="0.00000 ETH" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button class="btn text-bold btn-danger" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>