<div class="battleboard free-battleboard" style="display: none;">
    <div id="battleBoardContainer" class="container">
        <div class="row p-0 m-0 row-1">
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-2">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Wall Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp North.png" class="tile" />
            <img src="~/images/BattleBoards/Wall Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-3">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-4">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-1" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-2" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-3" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-4" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-5" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-6" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-7" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-8" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-5">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-9" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-10" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-11" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-12" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-13" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-14" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-15" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-16" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-6">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-17" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-18" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-19" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-20" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-21" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-22" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-23" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-24" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-7">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-25" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-26" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-27" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-28" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-29" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-30" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-31" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-32" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-8">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-33" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-34" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-35" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-36" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-37" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-38" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-39" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-40" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-9">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-41" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-42" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-43" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-44" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-45" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-46" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-47" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-48" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-10">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-49" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-50" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-51" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-52" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-53" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-54" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-55" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-56" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-11">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-57" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-58" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-59" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-60" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-61" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-62" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-63" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile position-64" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-12">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp West.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Water Block.png" class="tile" />
            <img src="~/images/BattleBoards/Ramp East.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-13">
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Wall Block Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Plain Block.png" class="tile" />
            <img src="~/images/BattleBoards/Wall Block Tall.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block Double Tall.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-14">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-15">
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
            <img src="~/images/BattleBoards/Stone Block.png" class="tile" />
        </div>
    </div>

    <!----------- SHADOWS ----------------> 
    <div id="battleBoardContainerShadows" class="container">
        <div class="row p-0 m-0 row-1">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-2">
            <img src="~/images/BattleBoards/Shadow East.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow South West.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow South East.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow West.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-3">
            <img src="~/images/BattleBoards/Shadow North East.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North West.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-4">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-1" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-2" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-3" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-4" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-5" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-6" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-7" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-8" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-5">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-9" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-10" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-11" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-12" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-13" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-14" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-15" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-16" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-6">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-17" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-18" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-19" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-20" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-21" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-22" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-23" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-24" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-7">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-25" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-26" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-27" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-28" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-29" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-30" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-31" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-32" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-8">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-33" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-34" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-35" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-36" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-37" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-38" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-39" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-40" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-9">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-41" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-42" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-43" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-44" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-45" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-46" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-47" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-48" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-10">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-49" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-50" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-51" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-52" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-53" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-54" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-55" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-56" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-11">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-57" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-58" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-59" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-60" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-61" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-62" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-63" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile position-64" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-12">
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow South West.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-13">
            <img src="~/images/BattleBoards/Shadow East.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow West.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow East.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow West Full.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-14">
            <img src="~/images/BattleBoards/Shadow North East.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
            <img src="~/images/BattleBoards/Blank Block.png" class="tile" />
        </div>
        <div class="row p-0 m-0 row-15">
            <img src="~/images/BattleBoards/Shadow North East.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North.png" class="tile" />
            <img src="~/images/BattleBoards/Shadow North West.png" class="tile" />
        </div>
    </div>
</div>