/*html {
    overflow: hidden;
}*/

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.battleboard {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tile {
    width: 52px;
    height: 89px;
}

.row-1 {
    position: fixed;
}

.row-2 {
    position: fixed;
}

.row-3 {
    position: fixed;
}

.row-4 {
    position: fixed;
}

.row-5 {
    position: fixed;
}

.row-6 {
    position: fixed;
}

.row-7 {
    position: fixed;
}

.row-8 {
    position: fixed;
}

.row-9 {
    position: fixed;
}

.row-10 {
    position: fixed;
}

.row-11 {
    position: fixed;
}

.row-12 {
    position: fixed;
}

.row-13 {
    position: fixed;
}

.row-14 {
    position: fixed;
}

.row-15 {
    position: fixed;
}