body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
    html { -webkit-overflow-scrolling: touch; }
}

    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hand-cursor {
        cursor: pointer;
        cursor: hand;
    }

    /* Carousel */
    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

    /* Make .svg files in the carousel display properly in older browsers */
    .carousel-inner .item img[src$=".svg"] {
        width: 100%;
    }

    .button-events {
        pointer-events: all;
    }

    .hidden {
        display: none;
    }

    a.disabled {
        pointer-events: none;
    }

    /* Overlay the image over another image */
    .overlay-div {
        border: 0;
        float: left;
        position: relative;
    }

    .corner-image {
        border: 0;
        position: absolute;
        top: -10px;
        left: -10px;
    }

    .corner-image-training-gem {
        border: 0;
        position: absolute;
        top: -30px;
        left: 10px;
    }

    @media screen and (max-width: 375px) {
        .corner-image-training-gem {
            border: 0;
            position: absolute;
            top: -25px;
            left: 5px;
        }
    }

    @media screen and (max-width: 575px) and (min-width: 376px) {
        .corner-image-training-gem {
            border: 0;
            position: absolute;
            top: -40px;
            left: 5px;
        }
    }

    @media screen and (max-width: 577px) and (min-width: 767px) {
        .corner-image-training-gem {
            border: 0;
            position: absolute;
            top: -10px;
            left: 10px;
        }
    }

    @media screen and (max-width: 768px) and (min-width: 980px) {
        .corner-image-training-gem {
            border: 0;
            position: absolute;
            top: -10px;
            left: 10px;
        }
    }

    @media screen and (max-width: 981px) and (min-width: 991px) {
        .corner-image-training-gem {
            border: 0;
            position: absolute;
            top: -5px;
            left: 5px;
        }
    }

    .corner-image-award {
        border: 0;
        position: absolute;
        top: -5px;
        left: -5px;
    }

    /* Make div absolute center */
    .absolute-center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .alert-center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .absolute-center.is-responsive {
        /*width: 65%;
    height: 70%;*/
        padding-top: 120px;
        padding-left: 80px;
        padding-right: 80px;
        min-width: 360px;
        /*max-width: 1000px;*/
        z-index: 0;
    }

    .parent-opacity {
        background-color: rgba(255,255,255,0.66);
    }

    .overflow-auto {
        overflow-y: auto;
    }

    .no-pointers-events {
        pointer-events: none;
    }

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }

    /* Logo */
    .logo-small {
        width: 200px;
        height: auto;
        padding-top: 20px;
        padding-left: 30px;
    }

    .logo-background {
        bottom: 0px;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }

    /* Site Styles */
    .card-data {
        bottom: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }

    .meta-mask-alert {
        margin-top: 70px;
        max-width: 670px;
    }

    .meta-mask-alert-install {
        margin-top: 62px;
        max-width: 670px;
    }

    .light-text {
        color: rgba(0, 0, 0, .4);
    }