.background {
    /*background: url('../images/Team/TeamBack.svg') no-repeat center center fixed;*/
    bottom: 0px;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.team-clouds {
    background: url('../images/Team/TeamClouds.svg') center center fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    opacity: 0.9;
    bottom: 0px;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    data-limit-x: true;
}

.form-control::-moz-placeholder {
    color: lightgray;
}

.form-control:-ms-input-placeholder {
    color: lightgray;
}

.form-control::-webkit-input-placeholder {
    color: lightgray;
}